In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('ASIANPAINT.csv')

In [6]:
df.drop(columns='Date',inplace=True)
df.drop(columns='Symbol',inplace=True)
df.drop(columns='Series',inplace=True)

In [7]:
df.head()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,361.20,370.0,390.0,370.0,385.0,381.65,380.54,3318,1.262617e+11,NaN,NaN,NaN
1,381.65,380.0,392.0,375.0,390.0,385.55,383.50,4818,1.847699e+11,NaN,NaN,NaN
2,385.55,371.5,390.0,371.5,383.0,383.00,379.81,2628,9.981384e+10,NaN,NaN,NaN
3,383.00,384.9,384.9,374.5,375.1,377.50,379.88,3354,1.274114e+11,NaN,NaN,NaN
4,377.50,376.0,390.0,370.0,389.0,385.70,383.38,9589,3.676275e+11,NaN,NaN,NaN

In [8]:
df.drop(['Deliverable Volume','Volume','Turnover','VWAP','%Deliverble','Trades'],axis=1,inplace=True)

In [9]:
df.head()

   Prev Close   Open   High    Low   Last   Close
0      361.20  370.0  390.0  370.0  385.0  381.65
1      381.65  380.0  392.0  375.0  390.0  385.55
2      385.55  371.5  390.0  371.5  383.0  383.00
3      383.00  384.9  384.9  374.5  375.1  377.50
4      377.50  376.0  390.0  370.0  389.0  385.70

In [10]:
df.isnull().sum()

Prev Close    0
Open          0
High          0
Low           0
Last          0
Close         0
dtype: int64

In [11]:
X=df['Prev Close']
y=df['High']

In [12]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)
y_train=pd.DataFrame(y_train)
y_test=pd.DataFrame(y_test)

In [15]:
print(X.shape)
print(y.shape)
print(X_train.shape)
print(X_test.shape)

(5306,)
(5306,)
(4244, 1)
(1062, 1)

In [16]:
models={
    "LinearRegression" : {
        "model": LinearRegression(),
        "params": {
            'fit_intercept':[True,False],
            'n_jobs':[-1],
            'positive':[True,False]
        }
    }
}

In [17]:
grid = GridSearchCV(LinearRegression(), models['LinearRegression']['params'],  scoring='r2', n_jobs=-1)
grid.fit(X_train,y_train)
model=grid.best_estimator_

In [18]:
y_pred=model.predict(X_test)

In [19]:
r2=r2_score(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
rmse=np.sqrt(mse)
best_est=grid.best_estimator_
best_param=grid.best_params_
best_score=grid.best_score_

In [20]:
 # Evaluation Metrics
print("\n Model Evaluation Metrics:")
print(f"R² Score       : {r2:.4f}")
print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Mean Absolute Error (MAE): {mae:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")

    # Best Estimator Details
print("\n Best Estimator Details:")
print(f"Best Estimator  : {best_est}")
print(f"Best Parameters :{best_param}")

 Model Evaluation Metrics:
R² Score       : 0.9803
Mean Squared Error (MSE): 20952.8274
Mean Absolute Error (MAE): 16.2213
Root Mean Squared Error (RMSE): 144.7509

 Best Estimator Details:
Best Estimator  : LinearRegression(n_jobs=-1, positive=True)
Best Parameters :{'fit_intercept': True, 'n_jobs': -1, 'positive': True}

In [21]:
import pickle
with open('high_pred_model.pkl', 'wb') as file:
    pickle.dump(model, file)